<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home </title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
	<h1 class="mt-4" style="text-align:center">Home</h1>
	<h1>Welcome <strong th:text="${user_name}"></strong></h1>	 
	<a href="/view-users" class="btn btn-primary">View Registered Users</a>
		<a href="/" class="btn btn-secondary">Logout</a>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>